
* {
margin: 0;
padding: 0; 
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

/*Background image of Canberra*/
.wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0, 8, 51, 0.1), rgba(0, 8, 51, 0.5)), url(images/National-Museum-of-Australia.jpg);
    background-position: center;
    background-size: cover;
}

/*Centering title and tagline*/
.wrapper h1, p {
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
}
/*Centering search bar*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

/*Styling search bar*/
.search {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    border-radius: 70px;
    padding: 10px 20px;
    backdrop-filter: blur(2px) saturate(200%);
}

/*Making actual search bar and icon transparent and match above design^^ */
.search input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    padding: 10px 15px;
    color: #fff;
}

.search ::placeholder {
    color: #cac7ff;   
}

.search button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #cac7ff;
}

.search button:hover {
    color: rgb(255, 255, 96);
    transition: 0.4s;
}
  
/*Designing Weather card*/
.card {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px) saturate(100%);
    color: black;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }

